h1 {
  font-size: 50px;
        padding: 20px 263px 20px 691px;
}

.card{
    width: 340px;
    border-radius: 23px !important;
    z-index:-1;
}

.border {
width: 300px;
border-radius: 10px;
margin-top: -47px;
}
img {
    
    position: absolute;
    
  }
  
h6 a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}