.card{
    width: 340px;
    border-radius: 23px !important;
}

.border {
width: 300px;
border-radius: 10px;
margin-top: -47px;
}
img {
    position: absolute;
    left: 0px;
    top: 0px;
    
  }
  
h6 a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}