.card{
    width: 340px;
    border-radius: 23px !important;
}

.border {
width: 300px;
border-radius: 10px;
}

h6 a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}